---
import Footer from "@/components/Footer.astro";
import { DynamicMenuHeader } from "@/components/react/DynamicMenuHeader";
import { getMenuList } from "@services/menuService";
import { getMenuById } from "@services/menuService";
import "@styles/globals.css";
const basePath = import.meta.env.BASE_URL;
export async function getStaticPaths() {
  const menuList = await getMenuList();
  return menuList.map((item) => ({
    params: { id: item.id, lang: item.lang },
  }));
}
const { id, lang } = Astro.params;
const clientMenu = await getMenuById(id);
---

<html>
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
      charset="UTF-8"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href={`${basePath}/my-menu-logo.png`}
    />
  </head>
  <body class=`${clientMenu!.style!.colorScheme!.background} px-3 w-100`>
    <DynamicMenuHeader
      client:load
      menuStyle={clientMenu!.style}
      menu={clientMenu!}
    />
    {clientMenu!.categories}
    <img src=`${clientMenu!.imageUrl}` class="w-full h-75vh object-cover" />
    {
      clientMenu!.categories.map((category) => {
        return (
          <div
            id={`${category.id}`}
            class="my-10 w-full md:w-1/2 grid grid-cols-1 md:grid-cols-2 gap-0 mx-auto"
          >
            <div class="py-6 px-4 bg-white border border-gray-200 rounded-lg shadow">
              <img
                src={`${category.auxiliarImages[0]}`}
                class="w-full h-36 object-cover"
              />
              <h2 class="text-4xl text-bold mb-3 uppercase">
                {category.name}
              </h2>
              <div class="grid grid-cols-1 divide-y">
                {category.dishes.map((dish) => {
                  return (
                    <div class="py-2 my-2 ">
                      <p class="text-lg uppercase">
                        <img
                          class="inline-block w-5 h-5 align-text-top"
                          src={`${basePath}/icons/dish.svg`}
                          alt=""
                          aria-hidden="true"
                        />
                        {dish.name}
                      </p>
                      <p class="text-gray-600">{dish.description}</p>
                    </div>
                  );
                })}
              </div>
            </div>
            <div class="row-end my-auto">
              {category?.auxiliarImages?.map((auxImage) => (
                <img
                  src={`${auxImage}`}
                  class="w-full h-60 object-cover"
                />
              ))}
            </div>
          </div>
        );
      })
    }
    <Footer menuStyle={clientMenu!.style} />
  </body>
</html>
<style>
  html {
    scroll-behavior: smooth;
  }
</style>
